name: Ubuntu coverage

on:
  push:
    branches:
      - main

jobs:

  build-and-test:
    name: Coverage on Ubuntu
    runs-on: ubuntu-20.04
    env:
      CXX: g++-10
    if: ${{ github.repository == 'PalamaraLab/ASMC' }}

    steps:

      - name: checkout repo & vcpkg submodule
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: cache vcpkg installed packages
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            vcpkg/
            build_dir/vcpkg_installed/
          key: ${{ runner.os }}-${{ env.CXX }}-${{ hashFiles('vcpkg.json', 'vcpkg/CHANGELOG.md') }}

      - name: install tools
        run: |
          sudo apt -y update
          sudo apt -y install g++-10 lcov libcurl4-openssl-dev

      - name: make build directory
        run: mkdir build_dir
        if: steps.cache.outputs.cache-hit != 'true'

      - name: run unit tests with coverage
        run: |
          cmake .. -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake -DCMAKE_BUILD_TYPE=Debug -DASMC_ENABLE_COVERAGE=ON
          cmake --build . --parallel 2 --target ASMC_unit_tests
          ctest -j2 -R Asmc_unit_tests --output-on-failure
        working-directory: build_dir

      - name: upload coverage results
        run: |
          lcov --directory . --capture --output-file coverage.info
          lcov --remove coverage.info '/usr/*' '*/TESTS/*' '*/vcpkg_installed/*' --output-file coverage.info
          lcov --list coverage.info
          bash <(curl https://codecov.io/bash) -f coverage.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        working-directory: build_dir
