name: Python 3.7 3.11

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:

  build-and-test:
    name: Unit tests via Python on Ubuntu
    runs-on: ubuntu-20.04
    env:
      CXX: g++-9
    if: ${{ github.event_name == 'pull_request' || github.repository == 'PalamaraLab/ASMC' }}

    strategy:
      matrix:
        python-version: [3.7, 3.11]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: cache vcpkg installed packages
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            vcpkg/
            build_dir/vcpkg_installed/
          key: ${{ runner.os }}-${{ env.CXX }}-${{ hashFiles('vcpkg.json', 'vcpkg/CHANGELOG.md') }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: install python bindings
        run: |
          python -m pip install --upgrade pip setuptools wheel ninja
          python -m pip install .

      - name: python unit tests
        run: |
          python -m unittest discover test "test_unit*.py"

      - name: python regression tests
        run: |
          python -m unittest discover test "test_regression.py"
